body {
    font-family: serif;
    background-color: aqua;
    background-image: url(/imgs/pexels-lukas-rodriguez-4476796.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}